<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Changeroffre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1> 更改菜单 </h1>
    </header>
    <a href=" {{url_for('restaurantprofil')}}"><button style=" margin-top: 20px;">返回</button></a >
    {% if message %}
    <i>{{message}}</i>
    {% endif %}
    {% if not result %}
    <p>如果您需要修改价格，请同时勾选对应的内容</p>
    <form method="post" action="{{url_for('Changeroffre')}}">
            {% for i in infos %}
                <input type="radio" name="nom_plat" value="{{i.nom_plat }}" style="width: 10%;margin-top: 10px;">    {{i.nom_plat}}  
                <input type="radio" name="prix" value="{{i.prix}}" style="width: 10%;margin-top: 10px;">   {{i.prix}}  <br>
            {% endfor %}
        <input type="text" name="text" id = 'text'>
        <button type="submit">确认</button>
        {% endif %}
        {% if result %}
            <p>完成!</p>
        {% endif %}
    </form>
</body>