<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Parraine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>推荐</h1>
    </header>
    <a href="{{url_for('clientprofil')}}"><button style=" margin-top: 20px;">返回</button></a>
    {% if message %}
    <h2> {{message }}</h2>
    {% endif %}
    {% if message1 %}
    <h2> {{message1 }}</h2>
    {% endif %}
    {% if not message %}
    <form action="{{url_for('parraine')}}" method="post">
    <label for="parraine" style="margin-top: 20px;">推荐人（邮箱） :</label>
    <input type="email" id="parraine" name="parraine" >
    <button type="submit" value="Confirmer">确认</button>
    </form>
    {% endif %}
</body>
</html>